{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2>Create Your Account 🚀</h2>
        <p class="sub-text">
            Create an account and start your AI career journey
        </p>

        <form method="POST">
            <input type="email" name="email" placeholder="Enter your Email" required>
            <input type="password" name="password" placeholder="Create new Password" required>

            <p class="sub-text">Use at least 6 characters</p>

            <button type="submit">Sign Up</button>
        </form>

        <p class="switch-auth">
            Already have an account? <a href="/login">Login</a>
        </p>
    </div>
</div>
{% endblock %}